<%-include('partials/head')%> <%-include('partials/navbar')%>

<section class="contact-section">
  <form class="contact-form">
    <input
      type="text"
      name="name"
      id="name"
      autocomplete="off"
      placeholder="name"
    />
    <input
      type="text"
      name="email"
      id="email"
      autocomplete="off"
      placeholder="email"
    />
    <textarea
      name="msg"
      id="msg"
      placeholder="message"
      autocomplete="off"
    ></textarea>
    <button type="submit" class="form-submit-btn">contact</button>
  </form>
  <!-- map -->
  <div class="map">
    <div style="width: 100%">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d447.78593303695135!2d85.90570839252987!3d26.122168542188827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1640497770020!5m2!1sen!2sin"
        width="600"
        <!-- height="450" -->
        <!-- style="border: 0" -->
        <!-- allowfullscreen="" -->
        <!-- loading="lazy" -->
      ></iframe>
    </div>
  </div>
</section>
