<%- include('partials/head')%>   <%- include('partials/navbar')%>

<body>
    <section class="project-section">
        <h1 class="project-heading">Some of my Projects</h1>
        <div class="project-container">
          <div class="project-card">
            <img src="images/project-1.png" class="project-img" alt="" />
            <div class="project-content">
              <h2 class="project-title">Project 01</h2>
              <p class="project-info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                debitis iure consequatur ullam, voluptatem facilis quaerat qui
                eaque eum minima natus repellendus quo sunt voluptatum ab
                veritatis laboriosam accusamus sed nemo fugiat temporibus! Placeat
                autem sit nostrum ducimus sint? Molestias.
              </p>
              <div class="project-btn-grp">
                <button class="project-btn github">Github repo</button>
                <button class="project-btn live">See live</button>
              </div>
            </div>
          </div>
          <div class="project-card">
            <img src="images/project-2.png" class="project-img" alt="" />
            <div class="project-content">
              <h2 class="project-title">Project 02</h2>
              <p class="project-info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                debitis iure consequatur ullam, voluptatem facilis quaerat qui
                eaque eum minima natus repellendus quo sunt voluptatum ab
                veritatis laboriosam accusamus sed nemo fugiat temporibus! Placeat
                autem sit nostrum ducimus sint? Molestias.
              </p>
              <div class="project-btn-grp">
                <button class="project-btn github">Github repo</button>
                <button class="project-btn live">See live</button>
              </div>
            </div>
          </div>
          <div class="project-card">
            <img src="images/project-3.png" class="project-img" alt="" />
            <div class="project-content">
              <h2 class="project-title">Project 03</h2>
              <p class="project-info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                debitis iure consequatur ullam, voluptatem facilis quaerat qui
                eaque eum minima natus repellendus quo sunt voluptatum ab
                veritatis laboriosam accusamus sed nemo fugiat temporibus! Placeat
                autem sit nostrum ducimus sint? Molestias.
              </p>
              <div class="project-btn-grp">
                <button class="project-btn github">Github repo</button>
                <button class="project-btn live">See live</button>
              </div>
            </div>
          </div>
          <div class="project-card">
            <img src="images/project-4.png" class="project-img" alt="" />
            <div class="project-content">
              <h2 class="project-title">Project 04</h2>
              <p class="project-info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                debitis iure consequatur ullam, voluptatem facilis quaerat qui
                eaque eum minima natus repellendus quo sunt voluptatum ab
                veritatis laboriosam accusamus sed nemo fugiat temporibus! Placeat
                autem sit nostrum ducimus sint? Molestias.
              </p>
              <div class="project-btn-grp">
                <button class="project-btn github">Github repo</button>
                <button class="project-btn live">See live</button>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>