<!-- about section -->
<%- include('partials/head')%>
    <%- include('partials/navbar')%>

        <section class="about-section">
            <div class="about">
                <div class="about-img-container">
                    <img src="images/home.png" class="about-img" alt="">
                    <button class="download-cv-btn">downlaod cv</button>
                </div>
                <p class="about-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis facilis iusto
                    quam explicabo nulla, necessitatibus ea accusantium odio doloribus laudantium repudiandae? Dolorum
                    corrupti reiciendis deleniti doloribus obcaecati aliquid ut iure, vitae quaerat pariatur magnam
                    maxime consequuntur delectus culpa perspiciatis maiores mollitia! Quia magnam officiis totam
                    obcaecati, provident eaque hic accusantium perspiciatis beatae natus amet culpa cumque earum alias
                    sit corporis laborum eius consequatur dolores quasi ex. Numquam esse perferendis voluptas at vel id.
                    Totam quisquam doloribus perferendis sit reiciendis. Optio.</p>
            </div>
        </section>
        <div class="skill-section">
            <h1 class="heading">skills</h1>
            <div class="skills-container">
                <div class="skill-card">
                    <img src="/images/html.png" class="skill-img" alt="">
                    <div class="skill-level">98%</div>
                    <h1 class="skill-name">HTML</h1>
                    <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur,
                        delectus!</p>
                </div>
                <div class="skill-card">
                    <img src="images/css.png" class="skill-img" alt="">
                    <div class="skill-level">70%</div>
                    <h1 class="skill-name">CSS</h1>
                    <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur,
                        delectus!</p>
                </div>
                <div class="skill-card">
                    <img src="images/js.png" class="skill-img" alt="">
                    <div class="skill-level">80%</div>
                    <h1 class="skill-name">JS</h1>
                    <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur,
                        delectus!</p>
                </div>
                <div class="skill-card">
                    <img src="images/nodejs.png" class="skill-img" alt="">
                    <div class="skill-level">75%</div>
                    <h1 class="skill-name">NODE</h1>
                    <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur,
                        delectus!</p>
                </div>
                <div class="skill-card">
                    <img src="images/reactjs.png" class="skill-img" alt="">
                    <div class="skill-level">80%</div>
                    <h1 class="skill-name">REACT</h1>
                    <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur,
                        delectus!</p>
                </div>
            </div>
        </div>

        <div class="timeline">
            <h1 class="heading">education and experience</h1>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">2018</h1>
                    <p class="card-detail">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam deleniti,
                        consequuntur consequatur molestiae, neque, illo temporibus earum itaque in magni quisquam
                        ducimus harum voluptates provident? Quaerat qui debitis ipsam recusandae quidem impedit natus,
                        laudantium modi consectetur itaque? Explicabo provident natus harum consectetur eos, placeat
                        unde atque ex ipsa nobis voluptatum ad repellendus obcaecati dolor voluptatem facilis debitis
                        animi optio id. </p>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <h1 class="card-title">2018-2020</h1>
                    <p class="card-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat in
                        exercitationem iusto corrupti nostrum vel optio quidem laboriosam a nobis omnis, nesciunt nihil
                        tenetur perferendis deserunt eum. Laudantium explicabo nesciunt consequatur harum, ipsam quidem
                        qui neque aliquam tenetur ullam repudiandae, consectetur dolorum pariatur! Esse, consequatur.
                        Quam dolor officiis, eveniet optio quia earum! Quaerat, esse architecto ad eligendi reiciendis
                        ut impedit?</p>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <h1 class="card-title">2020-2024</h1>
                    <p class="card-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium deleniti
                        maiores quo facere sunt ut incidunt ex corrupti quos quaerat! Cumque, quasi ut? Error illo unde
                        iste illum odio atque harum, voluptates dicta ipsam. Aspernatur sequi porro cumque? Aliquam sunt
                        assumenda odit temporibus nostrum facilis consectetur aut, debitis repellendus exercitationem
                        tempora dolores quasi at pariatur corporis animi placeat sequi laboriosam.</p>
                </div>
            </div>
        </div>

        </body>

        </html>