
<%- include('partials/head')%>
<body>
  <div class="home-section active">
    <h1 class="hero-heading">Hello, I am <br />Navneet</h1>
    <img src="images/home.png" class="home-img" alt="" />
  </div>
  <%- include('partials/navbar')%>

  
</body>
</html>
